// @import 'partials/variables';
// @import 'partials/mixins';
@use 'partials/variables' as *;
@use 'partials/mixins' as *;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
}

.header-container {
    background: $bg-gray;
}

.centered-container {
    width: 80vw;
    margin: 0 auto;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 50px;

    a {
        text-decoration: none;
        color: $text-color;
    }
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: $text-color;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.primary-button {
    background: #4CAF4F;
    color: #fff;
}

.secondary-button {
    background: transparent;
    color: #4CAF4F;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-section {
    padding: 22px 0;
}

.heading-1 {
    font-size: 36px;
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.para {
    font-size: 16px;
    color: #717171;
}

.care-desc {
    width: 630px;
    margin: 0 auto;
    margin-top: 16px;
}

.care-container {
    padding-top: 48px;
}

.care-image-container {
    position: relative;
    width: 368px;
}

.care-text {
    position: absolute;
    background: #F5F7FA;
    width: 80%;
    left: 10%;
    height: 135px;
    top: 68%;
    border-radius: 6px;
    text-align: center;
    padding: 45px;
    box-sizing: border-box;
}

.care-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px;
}


.hero-section {
    @include flex-center;
    background: $bg-gray;
    padding: 96px 144px;
}

.hero-content {
    display: flex;
    gap: 210px;
}

.hero-left {    
    width: 657px;
    height: 276px;

    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.hero-text {
    padding-top: 50px;
}

.hero-h{
    font-size: 64px;
    font-weight: 600;
}

.hero-h{
    span {
    color: #4CAF4F;
}
}   

.hero-text p {
    font-size: 16px;
    line-height: 40px;
}



.hero-btn {
    padding: 14px 32px;
    border-radius: 4px;
    border: none;
    background-color: #4CAF4F;
    color: white;
    cursor: pointer;
}

   
.client-section {
  @include flex-center;
  flex-direction: column;
  justify-content: center;
  padding: 28px 144px 47px 144px;
}

h1 {
    font-size: 36px;
}


.client-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px; 
}

.client-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 150px;
}


.community-section {
  @include flex-center;
  flex-direction: column;
  padding: 0 144px;
}


.community-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 35px;
    margin-bottom: 40px;

}

.comm-h {
    text-align: center;
    font-size: 35px;
  font-weight: 600;
}


.community-text {
    p{
        text-align: center;
          font-size: 16px;
        line-height: 24px;
    }
}


.community-frame {
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  gap: 130px;
  width: 100%;
}

.frame1 {
  text-align: center;

  width: 299px;
  height: 260px;
  border-radius: 8px;
  background: #FFF;
  padding: 22px 32px;
   box-shadow: 0px 4px 8px rgba(171, 190, 209, 0.5);

  img {
    width: 65px;
    height: 56px;
  }

  p {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;

    width: 267px;
  height: 72px;
  line-height: 36px;

  }  

  desp{
    width: 251px;
  height: 60px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  }
}



    // .unlock-section {
    //     @include flex-center;
    // }

    // .unlock-content {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     gap: 64px;
    //     padding: 0 170px; 
    // }

.unlock-section {
    padding: 0 144px;
}

.unlock-content {
    display: flex;
    justify-content: center;
    align-items: center;


//   justify-content: space-between;
  gap: 75px;
}


.unlock-text {
    width: 661px;
  height: 268px;

  gap: 16px;
  display: flex;
  flex-direction: column;
}

.unlock-img{
    // padding-left: 144px;
}


.unlock-text h1 {
    width: 601px;
  height: 88px;
  font-size: 40px;
  line-height: 44px;
}

.unlock-text p{
    font-size: 14px;
    line-height: 20px;
}

.unlock-btn {
    width: 151px;
  height: 52px;
  background-color: #4CAF4F;
  border: none;
  border-radius: 4px;
  color: white;
}



.footer {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  padding-top: 92px;
  height: 300px;

  .footer-top {
    text-align: center;
    background: #f5f7fa;
    padding: 32px 32px;

    h2 {
      color: #263238;
      font-size: 64px;
      line-height: 76px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .footer-btn {
      background: #28a745;
      color: #fff;
      border: 2px solid #28a745;
      padding: 14px 32px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: all 0.3s ease;

      &:hover {
        background: transparent;
        color: #28a745;
      }
    }
  }

  .footer-bottom {
    background: #263238;
      padding: 64px 165px;

    .footer-container {
      display: flex;
      gap: 14px;
      justify-content: space-between;
      text-align: center;
      margin: 0 auto;

      .footer-logo {
        flex: 1 1 250px;
        margin-bottom: 30px;

        h3 {
          font-size: 1.5rem;
          font-weight: 600;
          color: #fff;
        }

        p {
          margin-top: 10px;
          font-size: 0.9rem;
          color: #ccc;
          line-height: 20px;
        }

        .social-icons {
          margin-top: 20px;

          i {
            font-size: 1.1rem;
            margin-right: 15px;
            color: #ccc;
            cursor: pointer;
            transition: color 0.3s;

            &:hover {
              color: #28a745;
            }
          }
        }
      }

      .footer-links {
        display: flex;
        flex: 2;
        justify-content: space-between;
        flex-wrap: wrap;

        h4 {
          font-size: 1rem;
          font-weight: 600;
          margin-bottom: 15px;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            margin-bottom: 10px;

            a {
              color: #ccc;
              text-decoration: none;
              font-size: 0.9rem;

              &:hover {
                color: #28a745;
              }
            }
          }
        }

        .newsletter {
          display: flex;
          background: #37474f;
          border-radius: 5px;
          overflow: hidden;

          input {
            flex: 1;
            border: none;
            outline: none;
            padding: 10px;
            background: transparent;
            color: #fff;
          }

          button {
             background-color: transparent;
            border: none;
            color: #fff;
            padding: 0 15px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
